jaxtyping==0.2.33
omegaconf==2.3.0
tabulate==0.9.0
lpips==0.1.4
tensorboard==2.12.3
packaging==24.1
rich==13.8.0
imageio==2.35.1
plyfile==1.1
opencv-python==4.10.0.84
matplotlib==3.6.1
roma==1.5.0
scikit-learn==1.2.2
gsplat==1.3.0
vdbfusion==0.1.6
open3d==0.18.0
imageio-ffmpeg==0.5.1
wandb==0.17.8
PyYAML==6.0.1
viser==0.2.19
numpy==1.26.4
pyrender==0.1.45
