Sphinx
myst_parser
sphinx_design
furo
pytorch_msssim
jaxtyping
omegaconf
tabulate
lpips
tensorboard
packaging
rich
imageio
torch
plyfile
opencv-python
matplotlib
roma
scikit-learn
gsplat
sphinx_book_theme